body {
  background: #ffffff;
}

.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 40px;
  border: 1px solid #272343;
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
  background: #2e94b9;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
  color: #272343;
}

.search-input {
  border: none;
  background: #acdcee;
  border-radius: 6px;
  color: rgba(39, 33, 66, 0.4);
}

.btn {
  background: #acdcee;
  color: #272343;
  border: none;
}

.btn:hover {
  border: 1px solid #acdcee;
  background: #ffffff;
  color: #272343;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

h1 {
  margin: 20px 0 10px;
  font-weight: 700;
  font-size: 38px;
  color: #272343;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  font-weight: 500;
  font-size: 16px;
  color: #f0fbff;
}

li::first-letter {
  text-transform: capitalize;
}

img {
  position: relative;
  top: -22px;
}

.temperature {
  font-weight: 700;
  font-size: 86px;
}

.unit {
  font-size: 22px;
  font-weight: 400;
  position: relative;
  top: -40px;
  color: #272343;
}

footer {
  margin-top: 40px;
  text-align: center;
  font-size: 14px;
  color: #f0fbff;
}

.humidity {
  color: #272343;
}

.wind {
  color: #272343;
}

.unit .active {
  color: #272343;
  cursor: default;
  text-decoration: none;
}

.unit .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 16px;
  color: #272343;
}

.forecast-icon {
  position: relative;
  top: 22px;
}

.weather-forecast-temperature {
  font-size: 14px;
  color: #f0fbff;
}
